<%- include("./partials/header") %>
    <div class="container">
        <%data.forEach(function(x){%>
            <div class="container">
                <p>
                    Name:
                    <%=x.name%>
                </p>
                <p> Price:
                    <%=x.price%>
                </p>
                <p> Id:
                    <%=x._id%>
                </p>
                <a href="/<%=x._id%>/edit" class="btn btn-primary">Edit</a>
                <form id="delete" action="/<%=x._id%>?_method=DELETE" method="post">
                    <button class="btn btn-danger btn-sm">DELETE</button>
                </form>
            </div>
            <%})%>
                <a href="/add" class="btn btn-primary">Add</a>
    </div>

    <%- include("./partials/footer") %>